body{
    /*background-color: #9acfea;*/
    color: #0f0f0f;
    list-style-type:none
}



.header{
    display: flex;
    background-color: rgb(21,0,107);
    color: #FFFFFF;
    justify-content: center;
}

.footer{
    background-color: rgb(21,0,107);
    color: #FFFFFF;
}

#randomnews{
    height: 600px;
    padding-right: 30px;
    /*background-color: #5bc0de;*/
    border-left:2px solid rgb(240,240,240);
    padding: 50px 80px 50px 50px;
}

#newscontext{
    min-height : 600px;
    /*background-color: #3e8f3e;*/
    color: #0f0f0f;
    padding: 20px 30px 10px 40px;
    /*border: #46b8da solid 1px;*/
}

#footertext{
    display: flex;
    flex-direction:column;
    justify-content:center;
    height: 50px;
    /*background-color: #2b669a;*/
    justify-content: center;
    align-items: center;
}

.input-group{
    padding: 40px;
}

.navigation{
    padding: 0px;
}

.listnews li{
    padding-top: 10px;
}

.listnews{
    /*border-bottom:  #9acfea solid 1px;*/
}

.input-group{
    padding: 30px 60px 10px;
}

.taketime{
    font-size: 12px;
    padding-bottom: 30px;
    display: flex;
    justify-content:space-between;
}

.breadcrumb{
    margin: 0px;
}

.user{
    padding-top: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 250px;
    /*border: #0f0f0f solid 1px;*/
    height: 200px;
}

.user:hover{
    background-color: rgb(240,240,240);
}

.content{
    border-left:2px solid rgb(240,240,240);
    border-right:2px solid rgb(240,240,240);
}

.recommendnews{
    margin-top: 5px;
    /*border-left:2px solid rgb(240,240,240);*/
}